@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	font-family: "Work Sans";
	background-color: #EDEFEF;
    height:100%;
}

div {
	display: block;
}

h1 {
	font-size: 50px;
}

button {
	cursor: pointer;
	font-family: "Work Sans";
	outline: 0;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #FFC849;
	transition: background-color 0.3s ease;
	margin: 15px 0;
}

button:hover {
	background-color: white;
}

.icon-btn {
	padding: 5px;
	margin: 1em;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #222428;
	width: 40px;
	height: 40px;
	flex-grow: 0;
	flex-shrink: 0;
}

.big-btn {
	font-size: 18px;
}

.bigger-btn {
	font-size: 30px;
	font-weight: 600;
}

section {
	display: flex;
	flex-direction: column;
	background-color: #EDEFEF;
	padding-top: 30px;
	padding-left: 10vw;
	padding-right: 10vw;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

section h1 {
	text-align: center;
	margin: 0;
}

.jumbotron {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.jumbotron .img {
	display: inline-block;
	width: 80vw;
	max-width: 500px;
	margin: 1em;
}

.jumbotron .img img {
	text-align: center;
	width: 100%;
}

.jumbotron .text h2 {
	font-size: 40px;
	font-weight: 400;
}

.jumbotron .text subtitle {
	padding-top: 15px;
	font-size: 25px;
	color: gray;
}

.jumbotron .bigger-btn {
	margin-top: 10vh;
}

.dark {
	background-color: #222428;
}

.dark h1 {
	color: #EDEFEF;
}

.dark .jumbotron h2 {
	color: #FFC849;
}

.dark p {
	color: #EDEFEF;
}

@media all and (max-width: 400px) {
	h1 {
		font-size: 40px;
	}

	.jumbotron .text h2 {
		font-size: 30px;
	}
	.jumpotron .text subtitle {
		font-size: 15px;
	}
}

/* SECTION SPECIFIC */

#home {
	text-align: center;
}

#pfp {
	width: 20vw;
    height: 20vw;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #EDEFEF;
    margin: 10px;
}

cards {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

card {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 500px;
	max-height: 300px;
	background-color: #2f3237;
	border-radius: 25px 25px;
	margin: 18px;
}

card h1 {
	font-size: 32px;
	font-weight: 600;
	margin: 25px;
	margin-bottom: 0;
}

card h2 {
	color: #afb3b8;
	font-weight: 500;
	margin: 0 25px;
	font-size: 16px;
}

card form {
	flex-direction: row;
	align-items: center;
}

card i {
	color: #3BAA54;
}

@media(max-width: 1000px) {
	cards {
		flex-direction: column;
	}
}